.banner-title {
    max-width: 914px;
    margin: 0 auto;
    font-size: 8.5rem;
}

@media screen and (max-width: 1024px) {
    .banner-title {
        max-width: 697px;
        font-size: 6rem;
    }
}

@media screen and (max-width: 768px) {
    .banner-title {
        max-width: 329px;
        font-size: clamp(3.6rem, 12vw, 5rem);
    }
}
