* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    font-size: 10px;    
}

body {
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

a {
    text-decoration: none; 
    color: white;  
}


