.blog-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 1250px) {
  .blog-menu {
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media screen and (max-width: 1024px) {
  .blog-menu {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 768px) {
  .blog-menu {
    flex-direction: column;
    padding-left: 28px;
    padding-right: 0;
  }
}
