.chef-foto {
    margin-bottom: 30px;
    width: 100%;
    max-width: 398px;
}

@media  screen and (max-width: 1024px) {
    .chef-foto {
     
        max-width: 282px;
    }
}

@media  screen and (max-width: 768px) {
    .chef-foto {
        margin-bottom: 20px;
     
        width: 251px;
    }
}