h2 {
    font-size: 6.5rem;  
}


@media  screen and (max-width: 1024px) {

    h2 {
        font-size: 5rem;
    }
}


@media  screen and (max-width: 768px) {
    
    h2 {
        font-size: 4rem;
    }
}