.contacts-title {
    font-size: 6.5rem;
}

@media screen and (max-width: 1024px) {
    .contacts-title {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .contacts-title {
        font-size: 4rem;
    }
}
